{
    "cniVersion": "0.4.0",
    "name": "bridge",
    "type": "bridge",
    "bridge": "cnio0",
    "isGateway": true,
    "ipMasq": true,
    "ipam": {
        "type": "host-local",
        "ranges": [
          [{"subnet": "10.244.{{ groups.k8s_workers.index(inventory_hostname) + 1 }}.0/24"}]
        ],
        "routes": [{"dst": "0.0.0.0/0"}]
    }
}