{
  "CN": "admin",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "{{ ca_gen_names_c }}",
      "L": "{{ ca_gen_names_l }}",
      "O": "system:masters",
      "OU": "Kubernetes",
      "ST": "{{ ca_gen_names_st }}"
    }
  ]
}